<template>
  <div class="container" style="margin: 120px auto 0 auto; border:0px solid black;">
    <div class="card">
      <div class="card-block">
        <div class="text-center" style="padding-bottom:20px;">
          <h1>Account Edit</h1>
        </div>

        <!--<form utocomplete="off"> // To stop pop-up auto-fill warnings in the current version of Chrome -->
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Account Number:</label>
                <p class="display-only">{{ account.accountNumber }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Account Location:</label>
                <p class="display-only">{{ account.accountLocation }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Pin:</label>
                <input type="text" class='active' v-model="account.pin" required>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Account Exp Date:</label>
                <!--<datepicker class="account-exp-date" v-model="account.accountExpirationDate"></datepicker>-->
                <!--<p class="display-only">{{ account.accountExpirationDate }}</p>-->
                <p class="display-only">{{ expirationDate }}</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Customer First Name:</label>
                <input type="text" v-model="account.customerFullName">
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Customer Last Name:</label>
                <input type="text" v-model="account.customerLastName">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Checkout User:</label>
                <p class="display-only">{{ account.checkoutUser }}</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Billing Instance:</label>
                <p class="display-only">{{ account.billing_environment }}</p>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Environment:</label>
                <p class="display-only">{{ account.environment }}</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Equipment Status:</label>
                <select class="form-control" v-model="account.equipment_status">
                  <option v-for="item in eqprequired_data" :value="item.name">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Lab Location:</label>
                <select class="form-control" v-model="account.lab_location">
                  <option v-for="item in lab_location_data" :value="item.name">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Provisioning Method:</label>
                <select class="form-control" v-model="account.provisioning_method">
                  <option v-for="item in provision_data" :value="item.name">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Line of Business:</label>
                <select class="form-control" v-model="lob.lines_business_type">
                  <option v-for="item in lob_data" :value="item.name">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <button
                  type="button"
                  @click="videoEntitlementsModal"
                  style="width: 26px; height: 26px"
                  data-toggle="modal"
                  data-target="#videoEntModal"
                >
                  <span class="fa fa-pencil"></span>
                </button>
                <label>Video Entitlement:</label>
                <textarea
                  class="display-only display-large"
                  readonly
                >{{ videoEntitlementsDisplay }}</textarea>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <button
                  type="button"
                  @click="dataEntitlementsModal"
                  style="width: 26px; height: 26px"
                  data-toggle="modal"
                  data-target="#dataEntModal"
                >
                  <span class="fa fa-pencil"></span>
                </button>
                <label>Data Entitlement:</label>
                <textarea
                  class="display-only display-large"
                  readonly
                >{{ dataEntitlementsDisplay }}</textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Franchise:</label>
                <p class="display-only">{{ spa.franchise }}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Project:</label>
                <!--<input type="text" v-model="project.projectName" required>-->
                <select class="form-control" v-model="project.projectName">
                  <option v-for="item in project_data" :value="item.projectName">
                    {{ item.projectName }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Address:</label>
                <!--<input type="text" v-model="address.addressLine1" required>-->
                <p class="display-only display-large">
                  {{ address.addressLine1 }} <br/>
                  {{ address.addressLine2 }} <br/>
                  {{ address.city }}, {{ address.state_code }} {{ address.zipCode }}
                </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Scope of Testing:</label>
                <p class="display-only">{{ account.scope_testing }}</p>
              </div>
            </div>
            <div class="col-md-8" style="width:100%">
              <table>
                <tr>
                  <th>
                    <label class="my-table-header">NetLogin</label>
                  </th>
                  <th>
                    <label class="my-table-header">NetPassword</label>
                  </th>
                  <th style="padding-left:20px">
                    <label class="my-table-header">Action</label>
                  </th>
                </tr>
                <tr v-for="(netLogin, index) in netLogins">
                  <td style="width: 540px">
                    <input class="table-input net-login-login" type="text" v-model="netLogin.login" required>
                  </td>
                  <td style="width: 360px">
                    <p class="display-only net-login-pwd">{{ netLogin.pwd }}</p>
                  </td>
                  <td style="margin-left:60px; padding-left:30px">
                    <button type="button" @click="deleteNetLogin(index)" style="width: 30px">
                      <span class="fa fa-minus"></span>
                    </button>
                    <button type="button" @click="addNetLogin" style="width: 30px">
                      <span class="fa fa-plus"></span>
                    </button>
                    <button type="button" @click="resetPwd(index)" style="width: 100px">
                      Reset PWD
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="row" style="margin-top: 15px">
            <div class="col-md-4">
              &nbsp;
            </div>
            <div class="col-md-8">
            <!--<div class="col-md-8 col-md-offset-4">-->
              <table cellpadding="0" cellspacing="2">
                <tr>
                  <th>
                    <label class="my-table-header">Phone Type:</label>
                  </th>
                  <th>
                    <label class="my-table-header">Area code:</label>
                  </th>
                  <th>
                    <label class="my-table-header">Phone Number:</label>
                  </th>
                </tr>
                <tr v-for="(phone, index) in phones">
                  <td style="width: 200px; padding-top: 20px; padding-bottom: 0;">
                    <select class="form-control" v-model="phone['phone_type']" style="margin-top:-20px; margin-bottom:0; padding-bottom: 0;">
                      <option v-for="item in phones_data" :value="item.name">
                        {{ item.name }}
                      </option>
                    </select>
                  </td>
                  <td style="width: 200px; padding-top: 0;">
                    <input type="number" class="table-input error" v-model="phone.areaCode" style="margin-top:-20px; margin-top:2px;" required>
                  </td>
                  <td style="width: 300px; padding-top: 0;">
                    <input type="number" class="table-input" v-model="phone.phoneNumber" style="margin-top:-20px; margin-top:2px;" required>
                  </td>
                  <td style="margin-left:60px; padding-left:45px">
                    <button type="button" @click="deletePhone(index)" style="width: 30px">
                      <span class="fa fa-minus"></span>
                    </button>
                    <button type="button" @click="addPhone" style="width: 30px">
                      <span class="fa fa-plus"></span>
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="spinner-height-container text-center">
            <spinner :show="loading"></spinner>
          </div>

          <div class="text-center">
            <router-link
              tag="button"
              :to="{path: '/testaccounts' }"
              class="btn btn-default waves-effect waves-light"
            >
              Cancel
            </router-link>
            <button class="btn btn-primary waves-effect waves-light" @click="updateAccount">Update</button>
          </div>

        <!--</form>-->
      </div>

      <br/>
      <br/>
      <br/>

    </div>

    <entitlements-modal
      v-if="videoEntModalOn"
      modalId="videoEntModal"
      title="Video Entitlements"
      :optionsList="videoEntitlementsOptions"
      :selectedList="videosSelected"
      :setSelectedListFn="setVideoEntitlementsSelected"
    >
    </entitlements-modal>

    <entitlements-modal
      v-if="dataEntModalOn"
      modalId="dataEntModal"
      title="Data Entitlements"
      :optionsList="dataEntitlementsOptions"
      :selectedList="dataSelected"
      :setSelectedListFn="setDataEntitlementsSelected"
    >
    </entitlements-modal>

  </div>
</template>

<script>
  import axios from 'axios';
  import alertify from 'alertifyjs';
  import { differenceBy, isEmpty } from 'lodash';
//  import Vue from 'vue';
  import store from '../store/store';
  import auth from '../auth';
  import search from '../search';
  import Spinner from './Spinner.vue';
  import EntitlementsModal from './EntitlementsModal.vue';

  export default {
    props: ['id'],
    components: {
      Spinner,
      EntitlementsModal
    },
    data() {
      return {
        loading: false,
        videoEntModalOn: false,
        dataEntModalOn: false,
        origin: {},
        account: {},
        videosSelected: [],
        dataSelected: [],
        lob: {},
        spa: {},
        address: {},
        project: {},
        phones: [],
        deletedPhones: [],
        netLogins: [],
        deletedNetLogins: [],
        equipment: {},
        project_data: [],
        environment_data: [],
        provision_data: [],
        lob_data: [],
        eqprequired_data: [],
        lab_location_data: [],
        data_data: [],
        video_data: [],
        phones_data: []
      }
    },
    computed: {
      expirationDate() {
        let date = new Date(this.account.accountExpirationDate);
        return ((date.getMonth() + 1) + '/' + date.getDate() + '/' + date.getFullYear());
      },
      videoEntitlementsOptions() {
        var array = [];
//        console.debug('videoEntitlementsOptions: ' + JSON.stringify(this.video_data));
        if (this.video_data && this.video_data.length > 0) {
          this.video_data.forEach( item => array.push(item.name));
        }
        console.debug('videoEntitlementsOptions: ' + JSON.stringify(array)
          + ' => ' + array.length);
        return array;
      },
      dataEntitlementsOptions() {
        var array = [];
        console.debug('dataEntitlementsOptions: ' + JSON.stringify(this.data_data));
        if (this.data_data && this.data_data.length > 0) {
          this.data_data.forEach( item => array.push(item.name));
        }
        console.debug('dataEntitlementsOptions: ' + JSON.stringify(array)
          + ' => ' + array.length);
        return array;
      },
      videoEntitlementsDisplay() {
        var disp = '';
        var length = this.videosSelected.length;
        this.videosSelected.forEach( (item, index) => {
          disp = disp + item;
          if (index < (length-1)) {
            disp = disp + ', ';
          }
        });
//        console.debug('videoEntitlementsDisplay: ' + disp);
        return disp;
      },
      dataEntitlementsDisplay() {
        var disp = '';
        var length = this.dataSelected.length;
        this.dataSelected.forEach( (item, index) => {
          disp = disp + item;
          if (index < (length-1)) {
            disp = disp + ', ';
          }
        });
        console.debug('dataEntitlementsDisplay: ' + disp);
        return disp;
      }
    },
    methods: {
      fetchAccount() {
        var url = process.env.FRONTENDPROXY_URL+'/api/accounts/' + this.id + '/accountdetails';
        var config = {
          headers: auth.getAuthHeader()
        };

        axios.get(url,config).then((response) => {
          if (response && response.data && response.data.details) {
            this.account = response.data.details.account;

//            console.debug('this.account: ' + JSON.stringify(this.account));

            this.origin.account = Object.assign({},this.account);

            this.lob = response.data.details.lob;
            this.origin.lob = Object.assign({},this.lob);
            this.origin.lob.dataEntitlements = [...this.lob.dataEntitlements];
            this.origin.lob.videoEntitlements = [...this.lob.videoEntitlements];
            this.lob.videoEntitlements.forEach(item => {
              this.videosSelected.push(item.video_entitlements_name);
            });
            this.lob.dataEntitlements.forEach(item => {
              this.dataSelected.push(item.data_entitlements_name);
            });
//            console.debug('fetchAccount: this.videosSelected: ' + JSON.stringify(this.videosSelected)
//              + ' => ' + this.videosSelected.length);

            this.spa = response.data.details.spa;
            this.address = response.data.details.address;
            this.project = response.data.details.project;
            this.origin.projectName = response.data.details.project.projectName;

            this.phones = response.data.details.phones;
            if(this.phones.length < 1) {
              this.addPhone();
            }
//            this.origin.phones = [...this.phones];

            this.netLogins = response.data.details.netLogins;
//            console.debug('this.netLogins: ' + JSON.stringify(this.netLogins));

            this.equipment = response.data.details.equipment;

          } else {
            console.error('Invalid response from /api/accounts/:id/accountdetails');
          }
        }, (error) => {
          console.error(error);
        })
      },
      videoEntitlementsModal() {
        this.videoEntModalOn = true;
      },
      dataEntitlementsModal() {
        this.dataEntModalOn = true;
      },
      setVideoEntitlementsSelected(list) {
        console.debug('setVideoEntitlementsSelected: list: ' + JSON.stringify(list));
        this.videosSelected = list;
      },
      setDataEntitlementsSelected(list) {
        console.debug('setDataEntitlementsSelected: list: ' + JSON.stringify(list));
        this.dataSelected = list;
      },
      deletePhone(index) {
        console.debug('deletePhone: ' + index);
        console.debug(this.phones[index].action);
        console.debug(this.phones[index].areaCode);
        console.debug(this.phones[index].phoneNumber);

        if (!this.phones[index]) {
          return;
        }

        if (this.phones[index].action === 'create') {
          this.phones.splice(index, 1);
          console.debug('remove without save');
        } else if (!this.phones[index].action
        && this.phones[index].areaCode != ''
        && this.phones[index].phoneNumber != '') {
          this.deletedPhones.push(this.phones[index]);
          this.phones.splice(index, 1);
          console.debug('remove WITH save');
        }

        if(this.phones.length < 1) {
          this.addPhone();
        }

      },
      addPhone() {
        this.phones.push({
          "id": null,
          "phone_type": "",
          "areaCode": "",
          "phoneNumber": "",
          "phoneExtention": 0,
          "action": "create"
        });
      },
      deleteNetLogin(index) {
        console.debug('deleteNetLogin: ' + index);
        console.debug(this.netLogins[index].action);
        console.debug(this.netLogins[index].login);
        console.debug(this.netLogins[index].pwd);

        if (!this.netLogins[index]) {
          return;
        }

        if (this.netLogins[index].action === 'create') {
          this.netLogins.splice(index, 1);
          console.debug('remove without save');
        } else if (!this.netLogins[index].action
          && this.netLogins[index].login != ''
          && this.netLogins[index].pwd != '') {
          this.netLogins.splice(index, 1);
          this.deletedNetLogins.push(this.netLogins[index]);
          console.debug('remove WITH save');
        }

        if(this.netLogins.length < 1) {
          this.addNetLogin();
        }

      },
      addNetLogin() {
        this.netLogins.push({
          "login": "",
          "pwd": "",
          "action": "create"
        });
      },
      resetPwd(index) {
//        console.debug('resetPwd: ' + index);

        if (!this.netLogins[index]) {
          return;
        }

        this.loading = true;
        var url = process.env.FRONTENDPROXY_URL+'/api/net_logins/' + this.netLogins[index].id + '/changepassword';
        var config = {
          headers: auth.getAuthHeader()
        };

        axios.get(url,config)
          .then((response) => {
            if (response && response.data && response.data.details) {
//              console.debug('response: ' + JSON.stringify(response.data.details));
              this.netLogins[index].pwd = response.data.details.newPassword;
              alertify.success("Reset PWD Successful.  NetLogin: " + this.netLogins[index].login +
                ", new Password: " + this.netLogins[index].pwd );
              this.loading = false;
            } else {
              console.error('Invalid response from /api/net_logins/:id/changepassword');
            }
        })
        .catch((err) => {
          let msg = "";
          if (err && err.response && err.response.data && err.response.data.error) {
            const error = err.response.data.error;
            console.error(error);
            msg = 'Error: Api Post to changepassword: ' +
              error.code + ', Message: ' + error.message;
          } else {
            msg = "Server Error"
          }
          alertify.error(msg);
        });
      },
      updateAccount() {
        if (!this.validatePhones() || !this.validateNetLogins()) {
          return;
        }
        var url = process.env.FRONTENDPROXY_URL+'/api/accounts/' + this.id + '/accountchange';
        var config = {
          headers: auth.getAuthHeader()
        };

//        this.lob.videoEntitlements.forEach(item => {
//          item.video_entitlements_name = item.name;
//          delete item.description;
//          delete item.name;
////          console.debug(item);
//        });
////        console.debug(this.lob.videoEntitlements);
//
//        this.lob.dataEntitlements.forEach(item => {
//          item.data_entitlements_name = item.name;
//          delete item.description;
//          delete item.name;
////          console.debug(item);
//        });
//        console.debug(this.lob.dataEntitlements);
        var payload = {};
        payload.changeObj = {};
        payload.changeObj.account = {};

        if (this.account.pin != this.origin.account.pin) {
          payload.changeObj.account.pin = this.account.pin;
        }
        if (this.account.accountExpirationDate != this.origin.account.accountExpirationDate) {
          payload.changeObj.account.accountExpirationDate = this.account.accountExpirationDate;
        }
        if (this.account.customerFullName != this.origin.account.customerFullName) {
          payload.changeObj.account.customerFullName = this.account.customerFullName;
        }
        if (this.account.customerLastName != this.origin.account.customerLastName) {
          payload.changeObj.account.customerLastName = this.account.customerLastName;
        }
        if (this.account.equipment_status != this.origin.account.equipment_status) {
//          payload.changeObj.account.equipment_status = this.account.equipment_status;
        }
        if (this.account.lab_location != this.origin.account.lab_location) {
          payload.changeObj.account.lab_location = this.account.lab_location;
        }
        if (this.account.provisioning_method != this.origin.account.provisioning_method) {
          payload.changeObj.account.provisioning_method = this.account.provisioning_method;
        }
        if (isEmpty(payload.changeObj.account) ) {
          delete payload.changeObj.account;
        }
//        console.debug('acount-isEmpty: ' + isEmpty(payload.changeObj.account) );

        this.lob.videoEntitlements = [];
        this.videosSelected.forEach(item => {
          this.lob.videoEntitlements.push({"video_entitlements_name": item});
        });
        this.lob.dataEntitlements = [];
        this.dataSelected.forEach(item => {
          this.lob.dataEntitlements.push({"data_entitlements_name": item});
        });

        const diffLob = this.lob.lines_business_type.valueOf() != this.origin.lob.lines_business_type.valueOf();
        const diffVideo1 = differenceBy(this.lob.videoEntitlements, this.origin.lob.videoEntitlements, 'video_entitlements_name').length > 0;
        const diffVideo2 = differenceBy(this.origin.lob.videoEntitlements, this.lob.videoEntitlements, 'video_entitlements_name').length > 0;
        const diffData1 = differenceBy(this.lob.dataEntitlements, this.origin.lob.dataEntitlements, 'data_entitlements_name').length > 0;
        const diffData2 = differenceBy(this.origin.lob.dataEntitlements, this.lob.dataEntitlements, 'data_entitlements_name').length > 0;

        console.debug('diffLob: ' + diffLob);
        console.debug('diffVideo1: ' + diffVideo1);
        console.debug('diffVideo2: ' + diffVideo2);
        console.debug('diffData1: ' + diffData1);
        console.debug('diffData2: ' + diffData2);


        if (diffLob || diffVideo1 || diffVideo2 || diffData1 || diffData2) {
          console.debug('***** LOB: There is a difference');
          payload.changeObj.lob = this.lob;
        }

        if (this.project.projectName != this.origin.projectName) {
          payload.changeObj.project = this.project;
        }

        if (this.phones.length > 0 || this.deletedPhones > 0) {
          payload.changeObj.phones = [];
//          In case we need to conditional updates for phones
//          for (let i = 0; i < this.phones.lenght; i++) {
//            if (this.phones[i] origin.)
//          }
          this.phones.forEach( item => {
            if (!item.action) {
              item.action = '';
            }
            if (item.areaCode && item.phoneNumber) {
              console.debug('item: ' + JSON.stringify(item));
              payload.changeObj.phones.push(item);
            }
          });
          this.deletedPhones.forEach( item => {
            item.action = 'delete';
            console.debug('del-phone: ' + JSON.stringify(item));
            payload.changeObj.phones.push(item);
          });
        }

        if (this.netLogins.length > 0 || this.deletedNetLogins > 0) {
          payload.changeObj.netLogins = [];
//          In case we need to conditional updates for netLogins
//          for (let i = 0; i < this.netLogins.lenght; i++) {
//            if (this.netLogins[i] origin.)
//          }
          this.netLogins.forEach( item => {
            console.debug('netLogins: ' + JSON.stringify(item));
            if (item.login && item.pwd) {
              if (!item.action) {
                item.action = '';
              }
              delete item.pwd;
              payload.changeObj.netLogins.push(item);
            }
          });
          this.deletedNetLogins.forEach( item => {
            item.action = 'delete';
            console.debug('del-netLogins: ' + JSON.stringify(item));
            payload.changeObj.netLogins.push(item);
          });
        }

        console.debug(payload);

        axios.post(url, payload, config)
          .then((response) => {
            var results = response.data.results;
            alertify.success("Account was successfully updated!");
            console.debug('results:' + results);
          })
          .catch((err) => {
            let msg = "";
            if (err && err.response && err.response.data && err.response.data.error) {
              const error = err.response.data.error;
              console.error(error);
               msg = 'Error: Api Post to accountchange: ' +
                 error.code + ', Message: ' + error.message;
            } else {
              msg = "Server Error"
            }
            alertify.error(msg);
          });

      },
      validatePhones() {
        let isValid = true;
        this.phones.forEach((item, ind) => {
          if (!item.areaCode && !item.phoneNumber) {
            return;
          }
          if (item.areaCode < 100 || item.areaCode > 999
            || item.phoneNumber > 9999999 || item.phoneNumber < 1000000) {
            alertify.error("Invalid phone data, Entry: " + (ind + 1) );
            isValid = false;
          }
        });
        return isValid;
      },
      validateNetLogins() {
        let isValid = true;
        this.netLogins.forEach((item, ind) => {
          if (!item.login) {
            alertify.error("Invalid NetLogin data, Entry: " + (ind + 1) );
            isValid = false;
          }
        });
        return isValid;
      }
    },
    created() {
      this.fetchAccount();
      search.getSearchParameters(this, '/api/projects?filter[order]=projectName', 'project_data');
      search.getSearchParameters(this, '/api/lkup_billing_environments?filter[order]=rank', 'environment_data');
      search.getSearchParameters(this, '/api/lkup_provisionings', 'provision_data');
      search.getSearchParameters(this, '/api/lkup_lines_businesses?filter[order]=rank', 'lob_data');
      search.getSearchParameters(this, '/api/lkup_equipments', 'eqprequired_data');
      search.getSearchParameters(this, '/api/lkup_lab_locations', 'lab_location_data');
      search.getSearchParameters(this, '/api/lkup_data_entitlements', 'data_data');
      search.getSearchParameters(this, '/api/lkup_video_entitlements', 'video_data');
      search.getSearchParameters(this, '/api/lkup_phone_types', 'phones_data');
    }
  }
</script>

<style scoped>
  container {
    padding-right: 2px;
    padding-left: 2px;
  }
  p {
    font-size: 1rem !important;
  }
  label {
    margin-bottom: 0;
  }
  select {
    background-color: #faffbd !important;
  }
  input {
    background-color: #faffbd !important;
    height: 2rem !important;
  }
  .display-only {
    background-color: #dddddd !important;
    padding: .6em 0 1.7em .4em;
    height: 36px;
  }
  .net-login-login {
    margin-top: -5px !important;
  }
  .net-login-pwd {
    margin-top: -1px !important;
    margin-left: 15px !important;
    margin-bottom: 1px !important;
    text-decoration: underline;
  }
  .display-medium {
    height: 56px;
  }
  .display-large {
    height: 74px;
    font-size: 1rem;
  }
  .spinner-height-container{
    height: 50px;
  }
  .table-input {
    border: 1px solid #dddddd;
    padding-left: 10px;
  }
  .my-table-header {
    font-family: 'Avenir', Helvetica, Arial, sans-serif !important;
    color: #2c3e50 !important;
    font-size: .8rem;
    padding-left: 5px;
    font-weight: 400;
    line-height: 20px;
  }

  /*table, th, td {*/
  /*th, td {*/
  table {
    border-spacing: 15px;
  }
  td {
    /*border: 1px solid #dddddd;*/
    width: 340px;
    padding: 0;
  }
</style>
