<template>
  <div :id="modalId" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
      <!-- Modal content -->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Account Details</h4>
          <button @click="close()" type="button" class="close" style="padding-left:25px;" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

          <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true"
               v-for="(value, key, index) in accountFiltered">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <a data-toggle="collapse" data-parent="#accordion" :href="'#' +   key" aria-expanded="true"
                   aria-controls="collapseOne">
                  <h5 class="mb-0">
                    {{key}}<i class="fa fa-angle-down"></i>
                  </h5>
                </a>
              </div>
              <div
                :id="key"
                class="collapse"
                :class="{ show: isActive }"
                role="tabpanel"
                aria-labelledby="headingOne"
              >
              <!--<div :id="key" class="collapse" role="tabpanel"-->
                   <!--aria-labelledby="headingOne">-->
                <div class="card-block">
                  <ul class="ml-1" v-if="key === 'account'">
                    <li>
                      <!--<strong>Account Number:</strong> {{acct.accountNumber}}-->
                      <strong>Account Number:</strong> {{value.accountNumber}}
                    </li>
                    <li>
                      <strong>Account Location:</strong> {{value.accountLocation}}
                    </li>
                    <li>
                      <strong>PIN:</strong> {{value.pin}}
                    </li>
                    <li>
                      <strong>Account Expiration:</strong> {{value.accountExpirationDate}}
                    </li>
                    <li>
                      <strong>Customer First Name:</strong> {{value.customerFullName}}
                    </li>
                    <li>
                      <strong>Customer Last Name:</strong> {{value.customerLastName}}
                    </li>
                    <li>
                      <strong>Checkout User:</strong> {{value.checkoutUser}}
                    </li>
                    <li>
                      <strong>Billing Environment:</strong> {{value.billing_environment}}
                    </li>
                    <li>
                      <strong>Environment:</strong> {{value.environment}}
                    </li>
                    <li>
                      <strong>Equipment Status:</strong> {{value.equipment_status}}
                    </li>
                    <li>
                      <strong>Lab Location:</strong> {{value.lab_location}}
                    </li>
                    <li>
                      <strong>Provisioning Method:</strong> {{value.provisioning_method}}
                    </li>
                    <li>
                      <strong>Testing Scope:</strong> {{value.scope_testing}}
                    </li>
                  </ul>
                  <ul class="ml-1" v-if="key === 'lob'">
                    <li>
                      <strong>Lines of Business:</strong> {{value.lines_business_type}}
                    </li>
                    <li>
                      <strong>Video Entitlements:</strong>
                      {{ videoEntitlementsDisplay }}
                    </li>
                    <li>
                      <strong>Data Entitlements:</strong>
                      {{ dataEntitlementsDisplay }}
                    </li>
                  </ul>
                  <ul class="ml-1" v-if="key === 'spa'">
                    <li>
                      <strong>KMA:</strong> {{value.kma}}
                    </li>
                    <li>
                      <strong>Region:</strong> {{value.region}}
                    </li>
                    <li>
                      <strong>Franchise:</strong> {{value.franchise}}
                    </li>
                    <li>
                      <strong>Lineup:</strong> {{value.lineup}}
                    </li>
                    <li>
                      <strong>Lineup Code:</strong> {{value.lineupCode}}
                    </li>
                    <li>
                      <strong>Lineup Head-End:</strong> {{value.headend}}
                    </li>
                    <li>
                      <strong>Agent ID:</strong> {{value.csgAgent}}
                    </li>
                    <li>
                      <strong>Principal ID:</strong> {{value.csgPrincipal}}
                    </li>
                    <li>
                      <strong>System ID:</strong> {{value.csgSystem}}
                    </li>
                    <li>
                      <strong>System:</strong> {{value.system}}
                    </li>
                  </ul>
                  <ul class="ml-1" v-if="key === 'address'">
                    <li>
                      <strong>Addreess Line 1:</strong> {{value.addressLine1}}
                    </li>
                    <li>
                      <strong>Address Line 2:</strong> {{value.addressLine2}}
                    </li>
                    <li>
                      <strong>City:</strong> {{value.city}}
                    </li>
                    <li>
                      <strong>Zip Code:</strong> {{value.zipCode}}
                    </li>
                    <li>
                      <strong>State Code:</strong> {{value.state_code}}
                    </li>
                  </ul>
                  <ul class="ml-1" v-if="key === 'project'">
                    <li>
                      <strong>Project Name:</strong> {{value.projectName}}
                    </li>
                  </ul>
                  <ul class="ml-1" v-if="key === 'phones'">
                    <table border="1" cellspacing="20" cellpadding="5">
                      <tr>
                        <th>Phone-Type</th>
                        <th>Area-Code</th>
                        <th>Phone-Number</th>
                        <th>Extention</th>
                      </tr>
                      <tr v-for="phone in value">
                        <td>{{ phone.phone_type }}</td>
                        <td>{{ phone.areaCode }}</td>
                        <td>{{ phone.phoneNumber }}</td>
                        <td>{{ phone.phoneExtention }}</td>
                      </tr>
                    </table>
                  </ul>
                  <ul class="ml-1" v-if="key === 'netLogins'">
                    <table border="1" cellspacing="20" cellpadding="5">
                      <tr>
                        <th>Login</th>
                        <th>Password</th>
                      </tr>
                      <tr v-for="login in value">
                        <td>{{ login.login }}</td>
                        <td>{{ login.pwd }}</td>
                      </tr>
                    </table>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default expand-btn waves-effect waves-light" @click="expandAll">
            {{ isActive ? 'Collapse All' : 'Expand All' }}
          </button>
          <button @click="close()" type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    props: {
      modalId: {
        type: String,
        required: true
      }
    },
    computed: {
      ...mapGetters({
        account: 'currentAccount'
      }),
      accountFiltered() {
        let accountFiltered = Object.assign({},this.account);
        delete accountFiltered.netLogins;
        delete accountFiltered.id;
//        console.debug('accountFiltered: ' + JSON.stringify(accountFiltered));
        return accountFiltered;
      },
      videoEntitlementsDisplay() {
        var disp = '';
//        console.debug('this.account: ' + JSON.stringify(this.account));
        if (this.account && this.account.lob && this.account.lob.videoEntitlements) {
          var length = this.account.lob.videoEntitlements.length;
          this.account.lob.videoEntitlements.forEach( (item, index) => {
            disp = disp + item.video_entitlements_name;
            if (index < (length-1)) {
              disp = disp + ', ';
            }
          });
        }
        console.debug('videoEntitlementsDisplay: ' + disp);
        return disp;
      },
      dataEntitlementsDisplay() {
        var disp = '';
//        console.debug('this.account: ' + JSON.stringify(this.account));
        if (this.account && this.account.lob && this.account.lob.dataEntitlements) {
          var length = this.account.lob.dataEntitlements.length;
          this.account.lob.dataEntitlements.forEach( (item, index) => {
            disp = disp + item.data_entitlements_name;
            if (index < (length-1)) {
              disp = disp + ', ';
            }
          });
        }
        console.debug('dataEntitlementsDisplay: ' + disp);
        return disp;
      }
    },
    data() {
      return {
        isActive: false
      }
    },
    methods: {
      expandAll: function () {
        this.isActive = !this.isActive;
      },
      close: function () {
        $('.collapse').collapse('hide');
      }
    }
  }
</script>
