<template>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card account-container">
            <h3 class="card-header text-center card-title-bg">My Profile</h3>
              <table class="table">
                <thead>
                <tr>
                  <th>User Name</th>
                  <th>Email</th>
                  <th>Full Name</th>
                  <th>User Type</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>{{ userInfo.username }}</td>
                  <td>{{ userInfo.email }}</td>
                  <td>{{ userInfo.firstName +" "+ userInfo.lastName }}</td>
                  <td>{{ userInfo.userType }}</td>
                </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>
</template>

<script>
  import store from '../store/store';

  export default {
    computed: {
      userInfo: function () {
        return store.state.userInfo;
      }
    }
  }
</script>

<style>
.account-container{
    margin: 120px auto 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.card-title-bg{
    background-color: #f5f5f7;
}
</style>
