<template>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card account-container" style="margin-top: 120px;">
            <h3 class="card-header text-center card-title-bg">Contact Us</h3>
                <div class="card-block">
                    
                    <form id="contact-form" method="post" action="" role="form">

                        <div class="messages"></div>

                        <div class="controls">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_email">Subject *</label>
                                        <input id="form_email" type="text" name="subject" class="form-control" placeholder="Please enter your subject" required="required" data-error="Valid email is required.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="form_message">Message *</label>
                                        <textarea id="form_message" name="message" class="form-control" placeholder="Please enter your message" rows="4" required="required" data-error="Please,leave us a message."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <input type="submit" class="btn btn-primary waves-effect waves-lightx" value="Send message">
                                </div>
                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
  import store from '../store/store';

  export default {
    computed: {
      userInfo: function () {
        return store.state.userInfo;
      }
    },
    created: function (event) {
      // If user not logged-in, redirect to login page
      if (JSON.stringify(store.state.userInfo) == '{}') {
        this.$router.push({ path: 'login' });
      }
    }
  }
</script>

<style>
.account-container{
    margin: 120px auto 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.card-title-bg{
    background-color: #f5f5f7;
}
</style>
