<template>
  <div :id="modalId" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="card">
          <div class="card-block">
            <div class="modal-header">
              <h4 class="modal-title">{{ title }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="margin-left: 25px">
              <div class="form-group">
                <template v-for="item in optionsList">
                  <input
                    type="checkbox"
                    :id="item"
                    :value="item"
                    v-model="currentSelectedList"
                  />
                  <label :for="item">
                    {{ item }}
                  </label>
                  <br/>
                </template>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" @click="setSelectedList" class="btn btn btn-primary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      modalId: {
        type: String,
        required: true
      },
      title: {
        type: String,
        required: true
      },
      optionsList: {
        type: Array,
        required: true
      },
      selectedList: {
        type: Array,
        required: true
      },
      setSelectedListFn: Function
    },
    data() {
      return {
        localSelectedList: undefined,
        debug: false
//        debug: true
      }
    },
    computed: {
      currentSelectedList: {
        get() {
          if (this.localSelectedList) {
//            console.debug('localSelectedList - localSelectedList: ' + this.localSelectedList);
            return this.localSelectedList;
          } else {
//            console.debug('localSelectedList - selectedList: ' + this.selectedList);
            return this.selectedList;
          }
        },
        set(list) {
          this.localSelectedList = list;
        }
      }
    },
    methods: {
      setSelectedList() {
//        console.debug('setSelectedList: currentSelectedList: ' + JSON.stringify(this.currentSelectedList));
        this.setSelectedListFn(this.currentSelectedList);
      }
    }
  }
</script>
