<template>
  <div :id="modalId" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="card">
          <div class="card-block">
            <div class="modal-header">
              <h4 class="modal-title">Expiration Date for: </h4>
              <span style="float: left">{{ accountNumber }}</span>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <br/>
            </div>
            <div class="modal-body" style="margin-left: 25px">
              <div class="form-group">
                <date-picker
                  class="account-exp-date"
                  v-model="expirationDate"
                  :inline="true"
                  :disabled="disabledDates"
                >
                </date-picker>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn btn-default waves-effect waves-light" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn btn-primary waves-effect waves-light" @click="UpdateDate" data-dismiss="modal">Update</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import DatePicker from 'vuejs-datepicker';
  import { mapGetters } from 'vuex';

  export default {
    props: {
      modalId: {
        type: String,
        required: true
      },
      setExpirationDateFn: Function
    },
    components: {
      DatePicker
    },
    data() {
      return {
        localExpirationDate: '',
        oneDay: 1000 * 60 * 60 * 24,
        disabledDates: {
          to: this.expirationDate
        }
      }
    },
    computed: {
      ...mapGetters({
        account: 'currentAccount'
      }),
      accountId() {
        return this.account.id;
      },
      accountNumber: {
        get() {
          var val;
          if (this.account && this.account.account && this.account.account.accountNumber) {
            val = this.account.account.accountNumber;
            console.debug('accountNumber Component: ' + val);
            return val;
          }
        }
      },
      expirationDate: {
        get() {
          var val;
          if (this.account && this.account.account && this.account.account.accountExpirationDate) {
            val = new Date(this.account.account.accountExpirationDate);
            console.debug('ExpirationDate get: ' + val);
            return val;
          }
        },
        set(val) {
          console.debug('ExpirationDate set: ' + val);
          this.localExpirationDate = val;
        }
      }
    },
    methods: {
      UpdateDate() {
        console.debug('UpdateDate()', + this.accountId + ', ' + this.localExpirationDate + ');');
        var diff = this.localExpirationDate - this.expirationDate;
        var days = Math.ceil(diff / this.oneDay);
        console.debug('UpdateDate()', + this.accountId + ', ' + diff+ ');');
        console.debug('UpdateDate()', + diff + ', ' +  days + ');');
        this.setExpirationDateFn(this.accountId, days);
      }
    }
  }
</script>


<style scoped>

</style>
