<template>
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">

      <!--Form without header-->
      <div class="card login-container">
        <div class="card-block">

          <!--Header-->
          <div class="text-center">
              <h3><i class="fa fa-lock"></i> Login</h3>
          </div>

          <!--Body-->
          <div class="md-form">
            <i class="fa fa-user prefix"></i>
            <input type="text" class="validate form-control"  id="form2" placeholder="Username" @keyup.enter="submit" v-model="credentials.username">
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix"></i>
            <input type="password" class="validate form-control" id="form4" placeholder="Password" @keyup.enter="submit" v-model="credentials.password">
          </div>
          <div class="text-center">
            <button v-on:click="clear" type="button" class="btn btn-default waves-effect waves-light">Clear</button>
            <button v-on:click"submit" class="btn btn-primary waves-effect waves-light">Login</button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import store from '../store/store';
import auth from '../auth';

export default {
  data () {
    return {
      credentials: {
          username: '',
          password: ''
        },
      error: ''
    }
  },
  methods: {
    clear: function (event) {
      this.credentials.username = '';
      this.credentials.password = '';
    },
    submit: function (e) {
      var credentials = {
        username : this.credentials.username,
        password : this.credentials.password
      }
      
      auth.login(this, credentials, 'testaccounts');

    }
  }
}
</script>

<style>
.login-container{
  margin: 70px auto 0 auto;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
</style>
