<template>
<div>

<!-- Search Criteria -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card search-container">
            <h3 class="card-header text-center card-title-bg"> {{SEARCH_RESULTS}} </h3>
                <div class="card-block">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <strong> {{ACCOUNT_NUMBER}}: </strong> {{searchParams['acct.account_number']}}
                        </td>
                        <td>
                          <strong> {{PROJECT}}: </strong> {{searchParams['pjct.project_name']}}
                        </td>
                        <td>
                          <strong> {{ENVIRONMENT}}: </strong> {{searchParams['acct.billing_environment']}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong> {{PROVISIONING}}: </strong> {{searchParams['acct.provisioning_method']}}
                        </td>
                        <td>
                          <strong> {{FRANCHISE}}: </strong> {{searchParams['spa.franchise']}}
                        </td>
                        <td>
                          <strong> {{LINE_OF_BUSINESS}}: </strong> {{searchParams['lob.lines_business_type']}}
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <strong> {{EQUIPMENT}}: </strong> {{searchParams['acct.equipment_status']}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="containersearch-criteria">
    <div class="row">
        <div class="col-sm-12">
            <div class="card search-table-container">
              <h5 class="card-header text-right card-number-title-bg" id="test"> # of A/C : {{results.length}} </h5>
                <div class="card-block card-padding-0">
                <md-table-card>
                  <md-table md-sort="account" md-sort-type="desc" @select="onSelect" @sort="onSort">
                    <md-table-header>
                      <md-table-row>
                        <md-table-head md-sort-by="account_number">A/C Number</md-table-head>
                        <md-table-head md-sort-by="environment">ID Domain</md-table-head>
                        <md-table-head md-sort-by="provisioning_method">Provisioning</md-table-head>
                        <md-table-head md-sort-by="franchise">Franchise</md-table-head>
                        <md-table-head md-sort-by="video_entitlements">Package Name</md-table-head>
                        <md-table-head md-sort-by="lines_business_type">LOB</md-table-head>
                        <md-table-head class="buttons-column">A/C Actions</md-table-head>
                      </md-table-row>
                    </md-table-header>
                    <md-table-body>
                      <md-table-row v-for="(row, rowIndex) in pageResults" :key="rowIndex" :md-item="row" md-selection>
                        <md-table-cell v-for="(column, columnIndex) in noId(row)" :key="columnIndex">
                          {{ column }}
                        </md-table-cell>
                        <md-table-cell>
                          <button
                            type="submit"
                            class="btn btn-primary waves-effect waves-light"
                            @click="getAccountDetail(rowIndex)"
                            data-toggle="modal"
                            data-target="#acctDetModal"
                          >
                            Details
                          </button>
                          <router-link
                            v-if="adminMode"
                            tag="button"
                            :to="{name: 'accountEdit', params: {id: row.id} }"
                            class="btn btn-primary waves-effect waves-light"
                          >
                            Edit
                          </router-link>
                        </md-table-cell>
                      </md-table-row>
                    </md-table-body>
                  </md-table>
                  <md-table-pagination
                    md-size="5"
                    :md-total="results.length"
                    md-page="1"
                    md-label="Rows"
                    md-separator="of"
                    :md-page-options="[5, 10, 25, 50]"
                    @pagination="onPagination"></md-table-pagination>
                <div class="text-center check-out-btn">
                  <button type="submit" class="btn btn-primary checkout-btn waves-effect waves-light" data-toggle="modal" data-target="#selectedAccounts">Check-out</button>
                </div>
                </md-table-card>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal for Confirming Checkin of Selected Accounts -->
<div class="modal fade" id="selectedAccounts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content chckout-modal-width">
    <div id="selectedAccountsDisplay">
      <div class="modal-header">
        <h4 class="modal-title" id="selectedAccountsModalTitle">Accounts Selected for Check-Out</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div v-if="checkedAccounts.length > 0">
          <md-table-card>
            <md-table>
              <md-table-header>
                <md-table-row>
                  <md-table-head style="text-align: center">Account Number</md-table-head>
                  <md-table-head style="text-align: center">Environment</md-table-head>
                </md-table-row>
              </md-table-header>
                <md-table-body>
                  <md-table-row class="text-center" v-for="(row, rowIndex) in checkedAccounts" :key="rowIndex" :md-item="row">
                    <md-table-cell v-for="(column, columnIndex) in row" :key="columnIndex">
                    {{ column }}
                    </md-table-cell>
                  </md-table-row>
                  <!--<ul class="list-group">
                    <li class="list-group-item" v-for="account in checkedAccounts">
                      {{ account }}
                    </li>
                  </ul>-->
                </md-table-body>
            </md-table>
          </md-table-card>
        </div>
          <div v-else>
            <p>No Accounts Selected</p>
          </div>
      </div>
        <div class="modal-footer">
          <div class="tam-text-right" v-if="checkedAccounts.length > 0">
            <p>Are you sure you want to proceed?</p>
            <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary waves-effect waves-light" @click="checkout()">Confirm</button>
          </div>
          <div v-else>
            <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Cancel</button>
          </div>
        </div>
    </div>
    <div id="confirmedAccountsDisplay" class="confirm-account-display">
      <div class="modal-header">
        <h4 class="modal-title" style="" id="confirmedAccountsModalTitle">Account Check-Out Confirmation</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="confirmed()">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="spinner-height-container text-center">
        <spinner :show="loading"></spinner>
      </div>
      <div class="modal-body">
        <md-table-card>
          <md-table>
            <md-table-header>
              <md-table-row>
                <md-table-head style="text-align: center">Account Number</md-table-head>
                <md-table-head style="text-align: center">.Net Login</md-table-head>
                <md-table-head style="text-align: center">Password</md-table-head>
                <md-table-head style="text-align: center">Expiration</md-table-head>
              </md-table-row>
            </md-table-header>
            <md-table-body>
              <md-table-row v-for="(row, rowIndex) in confirmedAccounts" :key="rowIndex" :md-item="row">
                <md-table-cell v-for="(column, columnIndex) in row" :key="columnIndex">
                  {{ column }}
                </md-table-cell>
              </md-table-row>
            </md-table-body>
          </md-table>
        </md-table-card>
      </div>
      <div class="modal-footer">
        <div class="tam-text-right">
          <p>Listed accounts have been checked out.</p>
          <button type="button" class="btn btn-primary" data-dismiss="modal" @click="confirmed()">OK</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- End Modal for Confirming Checkin of Selected Accounts -->

  <account-detail
    modalId="acctDetModal"
  >
  </account-detail>

</div>
</template>

<script>
import store from '../store/store';
import Spinner from './Spinner.vue';
import AccountDetail from './AccountDetailModal.vue';
import auth from '../auth';
import axios from 'axios';
import { mapActions } from 'vuex';

export default {
  name: 'search',
  components: {
    Spinner,
    AccountDetail
  },
  data () {
    return {
      show: true,
      loading: false,
      showModal: false,
      results: [],
			pageResults: [],
      sort: {},
      page: {"size":5,"page":1},
      searchEnabled: false,
      checkoutButton: false,
      SEARCH_RESULTS: 'Search Results',
      SEARCH_CRITERIA: 'Search Criteria',
      ACCOUNT_NUMBER: 'Account Number',
      PROJECT: 'Project Name',
      FRANCHISE: 'Market Area',
      ENVIRONMENT: 'Environment',
      PROVISIONING: 'Provisioning Method',
      SYSTEM: 'System',
      PRINCIPAL: 'Principal',
      LOB: 'LOB',
      LINE_OF_BUSINESS: 'Line of Business',
      EQUIPMENT: 'Equipment',
      ATE_CENTER: 'Rate Center',
      DOT_NET_LOGIN: '.Net Login',
      searchParams: {},
      checkedAccounts: [],
			savedAccounts: [],
      userInfo: {},
      confirmedAccounts: [],
      checkoutObj: {}
    }
  },
  methods: {
    ...mapActions({
      fetchAccount: 'getAccountDetail'
    }),
    noId: function (row) {
      var newRow = {};
      for (var key in row) {
        if (key !== 'id') {
          newRow[key] = row[key];
        };
      }
      return newRow;
    },
    onSelect: function (data) {
			var arr = Object.keys(data);
      if (JSON.stringify(data) != '{}') {
          var accountEnvInputs = [];

          for (var i in arr) {
            var account = this.pageResults[arr[i]].account_number;
            var env = this.pageResults[arr[i]].environment;
            var accountEnvInput = {
              accountNumber: account,
              environment: env
            };
            accountEnvInputs.push(accountEnvInput);
          }

					this.checkedAccounts = accountEnvInputs;

      } else {
          this.checkedAccounts = [];
      }
			this.checkedAccounts = this.checkedAccounts.concat(this.savedAccounts);
    },
    checkout: function () {
       this.loading = true;
       this.checkoutObj = {
         accounts: this.checkedAccounts,
         user: this.userInfo.username
       };

       var url = process.env.FRONTENDPROXY_URL+'/api/accounts/checkout';
       var config = {
          headers: auth.getAuthHeader()
       };
       axios.post(url, {checkoutObj: this.checkoutObj}, config).then((response) => {
       var results = response.data.results;
       // console.log('results:' + results);
       this.loading = false;

       for (var i = 0; i < results.length; i++) {
          //console.log(results[i]);
          // console.log(results[i].accountNumber);
          this.confirmedAccounts.push({'accountNumber': results[i].accountNumber,'username': results[i].username, 'password': results[i].password, 'expiration': results[i].expiration});
       }

       }, (response) => {
         console.error('Results.vue::checkout. Error checking out accounts. Status: ' +
                       response.status + ', Message: ' + response.statusText);
       });

       document.getElementById('selectedAccountsDisplay').style.display = 'none';
       document.getElementById('confirmedAccountsDisplay').style.display = 'block';
    },
    confirmed: function () {
       this.confirmedAccounts = [];
       this.$router.push({ path: 'testaccounts' });
    },
    getAccountDetail(row) {
      console.debug('getAccountDetail - id:' + JSON.stringify(this.pageResults[row]));
      this.fetchAccount(this.pageResults[row].id);
    },
    onSort: function (key) {
			this.results.sort(function(a, b) {
				if (key.type == "asc") {
					if (a[key.name] < b[key.name]) {
						return -1
					} else {
						return 1
					}
				} else {
					if (a[key.name] < b[key.name]) {
						return 1
					} else {
						return -1
					}
				}
			});
			this.pageResults = this.results.slice((this.page.page - 1) * this.page.size, this.page.page * this.page.size)
			this.$forceUpdate()
    },
    onPagination: function (page) {
      this.page = page
			this.pageResults = this.results.slice((this.page.page - 1) * this.page.size, this.page.page * this.page.size)
			this.savedAccounts = this.checkedAccounts
			this.$forceUpdate()
    },
    toggleSearch: function () {
      // console.log(this.searchEnabled)
      if (this.searchEnabled) {
        this.searchEnabled = false
      } else {
        this.searchEnabled = true
      }
    }
  },
  created: function() {
//    console.log('RESULTS++++++++ ' + JSON.stringify(store.state.results));
//    console.log(store.state.searchParams);
    this.results = store.state.results;
    this.searchParams = store.state.searchParams;
    this.userInfo = store.state.userInfo;
		this.pageResults = this.results.slice(0, 5);
    this.adminMode = this.userInfo.userType === 'Admin' ? true : false;
  }
 }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  button {
    width: 80px;
    height: 36px;
    padding: 0;
    margin: 2px;
  }
  .container {
    width: 1200px;
  }
.search-container{
  margin: 120px auto 50px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.containersearch-criteria{
  margin-bottom: 50px;
}
.search-container-overflow{
  height: 100vh;
  display: block;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-top:0px;
}
.chckout-modal-width{
    width: 850px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 10px;
    margin-left: -400px;
    padding: 0 5px 0 5px;
}
.tam-text-right{
  text-align:right;
}
.search-table-container{
  margin: 0 auto 0 auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.card-title-bg{
  background-color: #f5f5f7;
}
.card-number-title-bg{
  background-color: #FFFFFF;
}
.card-padding-0{
  padding: 0px;
}
.check-out-btn{
  margin: -40px 0 40px 0
}
.buttons-column {
  width: 220px;
  text-align: center !important;
}
.confirm-account-display{
  display: none;
  width: 60em;
}
.spinner-height-container{
  height: 50px;
}
.table-acct {
  border: 0px solid black;
  width: 50%;
}
.expand-btn{
  width: 140px;
  margin-top: -2px;
}
.checkout-btn{
  width: 140px;
}
</style>
