<template>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="card search-container position-to-screen">
            <h3 class="card-header text-center card-title-bg"> Basic Search </h3>
                <div class="card-block">
                    <form class="form-horizontal col-sm-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1"> Account Number </label>
                            <input type="text" class="form-control ac-number" placeholder="Enter account number" v-model="parameters['acct.account_number']">
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1"> Project </label>
                            <select class="form-control" v-model="parameters['pjct.project_name']">
                                <option v-for="e in project_data" :value="e.projectName">
                                    {{ e.projectName }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1"> Billing Instance </label>
                            <select class="form-control" v-model="parameters['acct.billing_environment']">
                                <option v-for="e in environment_data" :value="e.name">
                                    {{ e.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1"> Provisioning Method </label>
                            <select class="form-control" v-model="parameters['acct.provisioning_method']">
                                <option v-for="e in provision_data" :value="e.name">
                                    {{ e.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1"> Franchise </label>
                            <select class="form-control" v-model="parameters['franchise.name']">
                                <option v-for="e in franchise_data" :value="e.name">
                                    {{ e.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1"> Line of Business </label>
                            <select class="form-control" v-model="parameters['lob.lines_business_type']">
                                <option v-for="e in lob_data" :value="e.name">
                                    {{ e.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1"> Video Entitlements </label>
                            <select class="form-control" v-model="parameters['ve.video_entitlements']">
                                <option v-for="e in video_data" :value="e.name">
                                    {{ e.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleSelect1"> Equipment Required </label>
                            <select class="form-control" v-model="parameters['acct.equipment_status']">
                                <option v-for="e in eqprequired_data" :value="e.name">
                                    {{ e.name }}
                                </option>
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button type="button" class="btn btn-secondary waves-effect waves-light" @click="clear"> Clear </button>
                            <button type="button" class="btn btn-primary waves-effect waves-light" @click="submit"> Submit </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import store from '../store/store';
import search from '../search';

export default {
  name: 'search',
  data () {
    return {
      parameters: {
        "acct.account_number": '',
        "pjct.project_name": '',
        "acct.billing_environment": '',
        "acct.provisioning_method": '',
        "franchise.name": '',
        "lob.lines_business_type": '',
        "ve.video_entitlements": '',
        "acct.equipment_status": '',
      },
      project_data: [],
      environment_data: [],
      provision_data: [],
      lob_data: [],
      franchise_data: [],
      eqprequired_data: [],
      lab_location_data: [],
      video_data: []
    }
  },
  methods: {
    submit: function (e) {
		  e.preventDefault();
		  store.commit('setSearchParams', this.parameters);
		  var parameters = {parameters: this.parameters};
//		  console.debug('parameters:' + JSON.stringify(this.parameters));
      search.postSearch(this, '/api/accounts/basicsearch', parameters);
    },
    clear: function () {
        this.parameters = {
          "acct.account_number": '',
          "pjct.project_name": '',
          "acct.billing_environment": '',
          "acct.provisioning_method": '',
          "franchise.name": '',
          "lob.lines_business_type": '',
          "ve.video_entitlements": '',
          "acct.equipment_status": '',
          }
    }
  },
  created: function() {

    // Retrieve Project Data
    search.getSearchParameters(this,'/api/projects?filter[order]=projectName', 'project_data');

    // Retrieve Billing Environment Data
    search.getSearchParameters(this,'/api/lkup_billing_environments?filter[order]=rank', 'environment_data');

    // Retrieve Provision Data
    search.getSearchParameters(this,'/api/lkup_provisionings', 'provision_data');

    // Retrieve Franchise Data
    search.getSearchParameters(this,'/api/franchises', 'franchise_data');

    // Retrieve LOB Data
    search.getSearchParameters(this,'/api/lkup_lines_businesses?filter[order]=rank', 'lob_data');

		// Retrieve Video Data
    search.getSearchParameters(this,'/api/lkup_video_entitlements', 'video_data');

    // Retrieve Equipment Data
    search.getSearchParameters(this,'/api/lkup_equipments', 'eqprequired_data');

    // Retrieve Lab Location Data
    search.getSearchParameters(this,'/api/lkup_lab_locations', 'lab_location_data');

  }
}

</script>

<style scoped>
.search-container{
    margin: 120px auto 50px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.position-to-screen{
    display: block;
    overflow: auto;
}
.ac-number{
  font-size: .8rem;
}
</style>
