<template>
<div class="footer-admin">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 pull-left version-text">
                Version {{ env }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 charter-copy">
                <div class="pull-right">
                    <span class="fa fa-copyright fa-1 footer-copy-space"></span>2017 Charter Communications
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  name: 'tamfooter',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      env: process.env.VERSION
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.footer-admin{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #0a4466;
    color: #FFFFFF;
}
.footer-copy-space{
    margin: 0 5px 0 25px;
}
.version-text{
    margin: 7px 0 -5px 40px;
    height: 22px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.9px;
    text-align: left;
    color: #FFFFFF;
}
.charter-copy{
    margin: 0 0 0 15px;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1.9px;
    text-align: left;
    color: d6e0ec;
    opacity: .4;
}
</style>
