<template>




<!--
  <div class="container-fluid main-nav-admin" style="z-index: 5000;">
    <div id="server-msg" class="card card-danger text-center z-depth-2 mb-1 pt-2 animated slideInDown" style="margin-top:-80px" v-if="env === 'development'">
        <div class="card-block mb-2" style="height:30px;">
            <p class="white-text mb-0"> You are on the <strong>developement server</strong> (anything you do will not take efffect) </p>
        </div>
    </div>-->

      <!--<div class="container">        
        <div class="row">
            <div class="col-sm-6 tam-title-admin">
                <img src="../assets/tam-logo-lg2.png" width="183" height="90"/>
            </div>
            <div class="col-sm-6" v-if="user.authenticated">
                <span class="user-title-admin"><span class="user-type-admin"> Active User </span></span>
            </div>        
        </div>
    </div>  -->

  </div> 

</template>

<script>
import store from '../store/store';
import auth from '../auth';

$(document).ready(function(){

    //alert('in headview');
    //$('#server-msg').addClass('animated slideInDown');

});

export default {
  name: 'tamhead',
  data () {
      return {
        user: auth.user,
        env: process.env.NODE_ENV  
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.main-nav-admin{
    height: auto; 
    margin-top: -60px;  
    color: #c9c7ef;
    background-color: #0a4466;
}  
.tam-title-admin{
    height: 80px;
    min-height: 100%;
    display: flex;
    align-items: center;
    color: #fafbfd;
    font-weight: 200;
    letter-spacing: 1.7px;
    font-size: small;
}
.user-title-admin{
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    color: #FFFFFF;
    float: right;
    letter-spacing: .3px;
    font-size: 2em; 
}
.user-type-admin{
    min-height: 100%;
    display: flex;
    align-items: center;
    color: #fafbfd;
    font-weight:lighter;
    letter-spacing: 1.9px;
    font-size: small;
    margin-right: 20px;     
}
.display-server{
    min-height: 100%;
    display: flex;
    align-items: center;
    display: inline-block
}

</style>
