<template>
<div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card search-container">
        <h3 class="card-header text-center card-title-bg"> {{TEST_ACCOUNTS}} </h3>
        <div class="checked-out-user" v-if="adminMode">
          <label> Checked Out User </label>
          <select class="form-control" @change="fetchTestAccounts()" v-model="username">
            <option v-for="e in user_data" :value="e.username">
              {{ e.firstName }} {{ e.lastName }}
            </option>
          </select>
        </div>
        <h5 class="card-header text-right card-number-title-bg"> # of A/C : {{results.length}} </h5>
        <div class="card-block" style="padding:0px;">
          <div id="accounttable" class="col-sm-12 my-account-container">
          <div v-if="results.length > 0">
            <md-table-card style="box-shadow:none;">
              <md-table md-sort="account" md-sort-type="desc" @select="onSelect" @sort="onSort">
                <md-table-header>
                  <md-table-row>
                    <md-table-head md-sort-by="account_number">A/C Number</md-table-head>
                    <md-table-head md-sort-by="environment">ID Domain</md-table-head>
                    <md-table-head md-sort-by="netlogin">.NET</md-table-head>
                    <md-table-head md-sort-by="password">PWD</md-table-head>
                    <md-table-head md-sort-by="expiration">EXP</md-table-head>
                    <md-table-head class="buttons-column">Account Actions</md-table-head>
                  </md-table-row>
                </md-table-header>
                <md-table-body>
                  <md-table-row v-for="(row, rowIndex) in pageResults" :key="rowIndex" :md-item="row" md-selection>
                    <md-table-cell v-for="(column, columnIndex) in noId(row)" :key="columnIndex">
                      {{ column }}
                    </md-table-cell>
                    <md-table-cell>
                      <button
                        class="btn btn-primary waves-effect waves-light"
                        @click="expirationDateModal(row)"
                        data-toggle="modal"
                        data-target="#extendExpModal"
                      >
                        Extend
                      </button>
                      <button
                        type="submit"
                        class="btn btn-primary waves-effect waves-light"
                        @click="accountDetailModal(row)"
                        data-toggle="modal"
                        data-target="#acctDetModal"
                      >
                        Details
                      </button>
                      <router-link
                        v-if="adminMode"
                        tag="button"
                        :to="{name: 'accountEdit', params: {id: row.id} }"
                        class="btn btn-primary waves-effect waves-light"
                      >
                        Edit
                      </router-link>
                    </md-table-cell>
                  </md-table-row>
                </md-table-body>
              </md-table>

              <md-table-pagination
              :md-size="5"
              :md-total="results.length"
              md-page="1"
              md-label="Rows"
              md-separator="of"
              :md-page-options="[5, 10, 25, 50]"
              @pagination="onPagination">
              </md-table-pagination>

              <div class="text-center check-in-btn waves-effect waves-light">
                <button type="button" class="btn btn-primary checkin-btn waves-effect waves-light" data-toggle="modal" data-target="#selectedAccounts">Check-in</button>
              </div>

            </md-table-card>

          </div>
          <div v-else>No Checked Out Accounts.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Confirming Checkin of Selected Accounts -->
<div class="modal fade" id="selectedAccounts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-padding">

      <div id="selectedAccountsDisplay">
        <div class="modal-header">
          <h4 class="modal-title" id="selectedAccountsModalTitle">Accounts Selected for Check-In</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div v-if="checkedAccounts.length > 0">
            <md-table-card>
                <md-table>
                    <md-table-header>
                        <md-table-row>
                            <md-table-head>Account Number</md-table-head>
                        </md-table-row>
                    </md-table-header>
                    <md-table-body>
                      <ul class="list-group">
                        <li class="list-group-item" v-for="account in checkedAccounts">
                          {{ account }}
                        </li>
                      </ul>
                    </md-table-body>
                </md-table>
            </md-table-card>
          </div>
          <div v-else>
            <p>No Accounts Selected</p>
          </div>
        </div>
        <div class="modal-footer text-right">
          <div v-if="checkedAccounts.length > 0">
            <p>Are you sure you want to proceed?</p>
            <button type="button" class="btn btn-secondary waves-effect waves-light" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary waves-effect waves-light" @click="checkin()">Confirm</button>
          </div>
          <div v-else>
            <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </div>

      <div id="confirmedAccountsDisplay" style="display: none">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmedAccountsModalTitle">Account Check-In Confirmation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="confirmed()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="spinner-height-container text-center">
            <spinner :show="loading"></spinner>
        </div>
        <div class="modal-body">
          <p>Number of accounts checked in: {{ resultsCount }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" @click="confirmed()">OK</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Modal for Confirming Checkin of Selected Accounts -->

  <account-detail-modal
    modalId="acctDetModal"
  >
  </account-detail-modal>

  <expiration-date-modal
    v-if="expirationDateModalOn"
    modalId="extendExpModal"
    :setExpirationDateFn="setExpirationDateCallback"
  >
  </expiration-date-modal>

</div>
</template>

<script>
import axios from 'axios';
import alertify from 'alertifyjs';
import store from '../store/store';
import auth from '../auth';
import search from '../search';
import Spinner from './Spinner.vue';
import AccountDetailModal from './AccountDetailModal.vue';
import ExpirationDateModal from './ExpirationDateModal.vue';
import { mapActions } from 'vuex';

export default {
  name: 'testaccounts',
  components: {
    Spinner,
    AccountDetailModal,
    ExpirationDateModal
  },
  data () {
    return {
      loading: false,
      accountDetailModalOn: false,
      expirationDateModalOn: false,
      results: [],
			pageResults: [],
      sort: {},
      page: {"size":5,"page":1},
      TEST_ACCOUNTS: 'My Accounts',
      ACCOUNT_NUMBER: 'Account Number',
      PROJECT: 'Project Name',
      MARKET_AREA: 'Market Area',
      ENVIRONMENT: 'Environment',
      PROVISIONING: 'Provisioning Method',
      SYSTEM: 'System',
      PRINCIPAL: 'Principal',
      LOB: 'LOB',
      LINE_OF_BUSINESS: 'Line of Business',
      EQUIPMENT: 'Equipment',
      ATE_CENTER: 'Rate Center',
      DOT_NET_LOGIN: '.Net Login',
      checkedAccounts: [],
			savedAccounts: [],
      userInfo: {},
      confirmedAccounts: [],
      resultsCount: 0,
      adminMode: false,
      username: '',
      user_data: []
    }
  },
  methods: {
    ...mapActions({
      fetchAccount: 'getAccountDetail'
    }),
    noId: function (row) {
//      console.debug('row: ' + JSON.stringify(row));
      var newRow = {};
      for (var key in row) {
        if (key !== 'id') {
          newRow[key] = row[key];
        }
      }
      return newRow;
    },
    onSelect: function (data) {

		  var arr = Object.keys(data);
      if (JSON.stringify(data) != '{}') {

					var accountEnvInputs = [];
					for (var i in arr) {
            var account = this.pageResults[arr[i]].account_number;
            accountEnvInputs.push(account)
          }
					this.checkedAccounts = accountEnvInputs

      } else {
          this.checkedAccounts = [];
      }
			this.checkedAccounts = this.checkedAccounts.concat(this.savedAccounts)

    },
    checkin: function () {
       this.loading = true;
       var accounts = [];
       for (var i = 0; i < this.checkedAccounts.length; i++) {
         var jsonObj = JSON.parse('{"accountNumber": ' + this.checkedAccounts[i] + '}');
         accounts.push(jsonObj);
       }
       this.checkinObj = {
         accounts: accounts,
         user: store.state.userInfo.username
       };

        //process.env.NODE_ENV;
        var config = {
          headers: auth.getAuthHeader()
        };

       var url = process.env.FRONTENDPROXY_URL+'/api/accounts/checkin';
       axios.post(url, {checkinObj: this.checkinObj}, config).then((response) => {
         this.loading = false;
         if (response.data.count) {
            this.resultsCount = response.data.count.count
         }
       }, (response) => {
         console.error('Results.vue::checkin. Error checking in accounts. Status: ' +
                       response.status + ', Message: ' + response.statusText);
       });

       document.getElementById('selectedAccountsDisplay').style.display = 'none';
       document.getElementById('confirmedAccountsDisplay').style.display = 'block';
    },
    confirmed: function () {
        document.getElementById('selectedAccountsDisplay').style.display = 'block';
        document.getElementById('confirmedAccountsDisplay').style.display = 'none';
        this.results = [];
        this.checkedAccounts = []
        this.confirmedAccounts = [];
        this.fetchTestAccounts();
    },
    accountDetailModal(row) {
      this.getAccountDetail(row);
      this.accountDetailModalOn = true;
    },
    expirationDateModal(row) {
      this.getAccountDetail(row);
      this.expirationDateModalOn = true;
    },
    getAccountDetail(row) {
      this.fetchAccount(row.id);
    },
    onSort: function (key) {
			this.results.sort(function(a, b) {
				if (key.type == "asc") {
					if (a[key.name] < b[key.name]) {
						return -1
					} else {
						return 1
					}
				} else {
					if (a[key.name] < b[key.name]) {
						return 1
					} else {
						return -1
					}
				}
			});
			this.pageResults = this.results.slice((this.page.page - 1) * this.page.size, this.page.page * this.page.size)
			this.$forceUpdate()
    },
		onPagination: function (page) {
      this.page = page;
			this.pageResults = this.results.slice((this.page.page - 1) * this.page.size, this.page.page * this.page.size)
			this.savedAccounts = this.checkedAccounts;
			this.$forceUpdate()
		},
    setExpirationDateCallback(acctId, numOfDays) {
      console.debug('setExpirationDateCallback - acctId ' + acctId + ', numOfDays: ' + numOfDays);
      if (!acctId || !numOfDays) {
        return;
      }

      if (numOfDays < 0) {
        alertify.error("Selected Date cannot be before the current Expiration Date.");
        return;
      }

      this.loading = true;
      var payload = {"numOfDays": numOfDays};
      var url = process.env.FRONTENDPROXY_URL+'/api/accounts/' + acctId + '/extendcheckout';
      var config = {
        headers: auth.getAuthHeader()
      };

      console.debug(payload);

      axios.post(url, payload, config)
        .then((response) => {
          var results = response.data.results;
          alertify.success("Expiration Date was successfully updated!");
          console.debug('results:' + results);
          this.fetchTestAccounts();
        })
        .catch((err) => {
          let msg = "";
          if (err && err.response && err.response.data && err.response.data.error) {
            const error = err.response.data.error;
            console.error(error);
            msg = 'Error: Api Post to extendcheckout: ' +
              error.code + ', Message: ' + error.message;
          } else {
            msg = "Server Error"
          }
          alertify.error(msg);
        });

    },
    fetchTestAccounts: function () {
      var url = process.env.FRONTENDPROXY_URL+'/api/accounts/testaccounts';
//      console.debug('this.username: ' + this.username);
      this.results = [];
      var parameters = {
        parameters: {
          "acct.checkout_user": this.username
        }
      };
      var config = {
        headers: auth.getAuthHeader()
      };
      axios.post(url, parameters, config).then((response) => {
        var accounts = response.data.results;
        var result = {};
        for (var i = 0; i < accounts.length; i++) {
            result = {
                account_number: accounts[i]['account_number'],
                environment: accounts[i]['environment'],
                netlogin: accounts[i]['login'],
                password: accounts[i]['pwd'],
                expiration: accounts[i]['account_expiration_date'],
                id: accounts[i]['id']
            };
          const date = new Date(result.expiration);
          result.expiration = (date.getMonth() + 1) + '/' + date.getDate() + '/' +  date.getFullYear();
          this.results.push(result);
        }
				this.pageResults = this.results.slice(0, 5);
      }, (response) => {
          console.error('TestAccounts.vue::fetchTestAccounts. Error retrieving test accounts.' +
                        ' Status: ' + response.status + ', Message: ' + response.statusText);
      });
    }
  },
  created: function() {
    this.username = store.state.userInfo.username;
    this.adminMode = store.state.userInfo.userType === 'Admin' ? true : false;
    this.fetchTestAccounts();
    if (this.adminMode) {
      this.TEST_ACCOUNTS = 'User Accounts';
      search.getSearchParameters(this,'/api/users', 'user_data')
    }
  },
  watch: {
    '$route': 'fetchTestAccounts'
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  button {
    width: 80px;
    height: 36px;
    padding: 0;
    margin: 2px;
  }
  .container {
    width: 1200px;
  }
  .checked-out-user{
    width: 300px;
    margin: 20px auto 0 64px;
  }
.search-container{
  margin: 120px auto 250px auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.card-number-title-bg{
  background-color: #FFFFFF;
}
.spinner-height-container{
  height: 50px;
}
.buttons-column {
  width: 220px;
  text-align: center !important;
}
.check-in-btn{
  margin: -60px 0 -65px 0;
}
.modal-padding{
  padding: 0 5px 0 5px;
}
.tam-link{
  cursor: pointer;
}
li {
	text-align: left;
}
.my-account-container{
  background-color: none;

  border-radius: 5px;
  border:0px solid red;
  padding: 2px;
}
.checkin-btn{
  margin:20px 0 100px 0;
  width: 140px;
}
</style>
